[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[[source]]
url = "https://www.piwheels.org/simple"
name = "piwheels"
verify_ssl = true

[packages]
numpy = "*"
flask = "*"
gunicorn = "*"

[dev-packages]
"flake8" = "*"
pygame = "*"
pyserial = "*"

[requires]
python_version = "3.5"
